a {
    text-decoration: none;
}
.show-md {
    display: none;
}
.hidden-lg {
    display: block;
}
h2 {
    color: #031b4e;
    font-weight: 600;
    line-height: 1.25;
    padding: 20px 0;
}
.btn.btn-default {
    background-color: hsla(0,0%,100%,.8);
    border: none;
    color: #0069ff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 24px;
}
.navbar-fixed-top {
    position: absolute;
}

/* styling header */

header {
    background-color: transparent;
}

#header-top {
    height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid rgb(229, 232, 237);
    line-height: 40px;
    font-size: 12px;
}
#header-top a {
    color: rgba(3, 27, 78, 0.7);
    font-weight: bold;
    margin-right: 12px;
}
#header-top a:hover {
    text-decoration: none;
    color: #0069ff;
}
#header-top-btn {
    background-color: #00d7d2;
    border-radius: 5px;
    color: #031b4e;
    line-height: 1;
    padding: 4px 8px;
    text-align: center;
    font-size: 9px;
    border: none;
    vertical-align: middle;
    margin-right: 12px;
}
#header-bottom {
    height: 90px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
}
#header-bottom a {
    color: rgb(3, 27, 78);
    margin-right: 15px;
}
#header-bottom-btn {
    background-color: transparent;
    border: 1px solid #0069ff;
    border-radius: 5px;
    color: #0069ff;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
    padding: 11px 16px 8px;
}
#header-bottom a:hover {
    text-decoration: none;
}
#header-bottom .header-items:hover {
    color: #0069ff;
}
#header-bottom-btn:hover {
    background-color: #0069ff;
    color: white;
    transition: 0.25s;
}
#logo-missing {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    line-height: 90px;
    padding: 10px 10px;
}
#top-hamburger {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 90px;
}
/* end styling header */

/* styling my-jumbo */
#my-jumbo {
    background-color: #0248ff;
    color: white;
    padding: 105px 15px 100px;
}
#my-jumbo h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
}
#my-jumbo p {
    font-size: 24px;
    opacity: 0.8;
}
#my-form {
    background-color: white;
    border-radius: 5px;
    color: #555;
    margin-top: 20px;
}
#my-form .btn.btn-default.my-account {
    background-color: #0069ff;
    color: white;
    width: 100%;
}
#my-form .btn.btn-default.my-account:hover {
    background-color: #1633ff;
    transition: 0.25s;
}
#services {
    padding: 30px 0;
}
#my-form .btn.btn-default.my-sign-button {
    width: 48%;
    color: #031b4e;
    background: #f2f8ff;
    border: 1px solid rgba(0,105,255,.2);
    border-radius: 3px;
    text-align: left;
}
#my-form .btn.btn-default.my-sign-button:hover {
    background-color: #d5e4f7;
}
#cont-buttons {
    margin-left: 5px;
}
.form-group-lg {
    padding: 5px 0;
}

.btn.btn-default.my-sign-button img {
    width: 20px;
    height: 20px;
}
.btn.btn-default.my-sign-button span {
    margin-left: 10px;
}
/* end styling my-jumbo */
@media screen and (min-width: 1049px) {
    .show-md {
        display: block;
    }
    .hidden-lg {
        display: none;
    }
    .navbar-fixed-top {
        position: fixed;
    }
    #header-bottom {
        height: 65px;
    }
    #logo-missing {
        background-color: transparent;
        color: #0069ff;
        border: 1px solid #0069ff;
        line-height: 40px;
    }
    header {
        height: 105px;
        background-color: white;
    }
    #my-jumbo {
        padding: 255px 0 100px;
    }
    #cont-buttons {
        margin-left: 10px;
    }
}
@media screen and (min-width: 769px) {
    #my-jumbo h1 {
        font-size: 62px;
    }
}
@media screen and (min-width: 768px) {
    #my-jumbo {
        background-image: url('https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg');
        background-position: center;
        background-repeat: none;
        background-size: cover;
    }
}
@media screen and (min-width: 321px) {
    .btn.btn-default.my-sign-button span {
        margin-left: 30px;
    }
}
